header {
	background-color: #ee55ff; 
	width: 200px; 
	padding: 200px; 
	border: 23px solid navy; 
	margin: 50px; 
	height: 100px; 
}
nav {
	background-color: yellow; 
	width: 100px; 
	border: 60px dotted red; 
	height: 100px; 
	margin: 20px; 
	padding: 70px; 
}
html {
	background-color: #ff9999; 
	width: 1000px; 
	height: 1000px; 
	margin: 50px; 
}
h2{ 
	
	


