h1{
	color: #fdff34;
	background: #ffdea1;
	font-family: "Arial Black", Gadget, sans-serif;
	font-style: oblique;
	border-style: groove;
	font-size: 43px; 
	border-width: 32px;
} 
main{
	color: white;
	background: #ffb6c1; 
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: inherit;
	font-size: 32px;
	border-style: hidden;
	
}
h2{
	color: red;
	background: yellow;
	font-family: "Courier New", Courier, monospace;
	font-style: inherit;
	border-style: outset;
	border-width:13px;
	font-size: 32px;
	border-width: 50px;
	border-color: #33dfed;
}
p{
	color: purple;
	background: yellow;
	font-family: "Lucida Console", Monaco, monospace;
	font-style: italic; 
	border-style: dashed; 
}
footer{ 
	color: green;
	background: red;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic; 
	border-style: double; 
	font-size: 45px; 
}
body{
	background-color: #ffb6c1;
}
	
